! Gruvbox-inspired color scheme for DWM

! Normal colors
*.normfg: #ebdbb2
*.normbg: #282828
*.normborder: #3c3836
*.normfloat: #db8fd9

! Selected colors
*.selfg: #fbf1c7
*.selbg: #d65d0e
*.selborder: #d65d0e
*.selfloat: #d65d0e

! Title normal colors
*.titlenormfg: #ebdbb2
*.titlenormbg: #282828
*.titlenormborder: #3c3836
*.titlenormfloat: #3c3836

! Title selected colors
*.titleselfg: #fbf1c7
*.titleselbg: #d65d0e
*.titleselborder: #d65d0e
*.titleselfloat: #d65d0e

! Tags normal colors
*.tagsnormfg: #ebdbb2
*.tagsnormbg: #282828
*.tagsnormborder: #3c3836
*.tagsnormfloat: #3c3836

! Tags selected colors
*.tagsselfg: #fbf1c7
*.tagsselbg: #d65d0e
*.tagsselborder: #d65d0e
*.tagsselfloat: #d65d0e

! Hidden normal colors
*.hidnormfg: #005577
*.hidnormbg: #222222

! Hidden selected colors
*.hidselfg: #227799
*.hidselbg: #222222

! Urgent colors
*.urgfg: #bbbbbb
*.urgbg: #222222
*.urgborder: #ff0000
*.urgfloat: #db8fd9

! For compatibility with older config.h format
*.color0: #282828
*.color4: #d65d0e
*.color8: #d65d0e
